<a href="https://colab.research.google.com/github/gustavodelevante/sales_predictions/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
#from google.colab import drive
#drive.mount('/content/drive')

In [55]:
import pandas as pd

In [56]:
sales_df = pd.read_csv("/content/drive/MyDrive/Coding Dojo/Project 1/sales_predictions.csv")

In [57]:
sales_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [58]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [59]:
# looking for missing values
missing_in_wei = sales_df["Item_Weight"].isna()
#missing_in_ou_siz = dales_df["Outlet_Size"].isna()
sales_df.fillna(0)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [60]:
sales_df["Item_Weight"].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [61]:
sales_df.groupby(["Outlet_Size", "Outlet_Location_Type"])[["Item_Outlet_Sales"]].sum()

                                  Item_Outlet_Sales
Outlet_Size Outlet_Location_Type
High        Tier 3                     2.142664e+06
Medium      Tier 1                     2.183970e+06
            Tier 3                     5.305749e+06
Small       Tier 1                     2.298089e+06
            Tier 2                     2.268123e+06

In [65]:
mean_avg = float("%.3f "%sales_df["Item_Weight"].mean())
mean_avg

item_weigh_lis = sales_df.loc[:, "Item_Weight"].fillna(mean_avg)
item_weigh_lis
sales_df.update({"Item_Weight" : item_weigh_lis})

In [66]:
outlet_old_lis = sales_df["Outlet_Size"].fillna(0)
outlet_new_lis = []

for i in range(len(outlet_old_lis)):
    
    if outlet_old_lis[i] == 0 :
          if sales_df["Outlet_Location_Type"][i] == "Tier 3":
              outlet_new_lis.append("High")
          elif sales_df["Outlet_Location_Type"][i] == "Tier 2":
              outlet_new_lis.append("Small")
          else:
              outlet_new_lis.append("Medium")
    else :
      outlet_new_lis.append(outlet_old_lis[i])
sales_df.update({"Outlet_Size": outlet_new_lis})
sales_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]